<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/26d7c826-abd1-4892-afe5-321735e52959/resourceGroups/tedu-microservices-rg/providers/Microsoft.Web/sites/customer-tedu</ResourceId>
    <ResourceGroup>tedu-microservices-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://customer-tedu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>359498ae-b8cc-4802-91f9-ad2acffeb857</ProjectGuid>
    <PublishUrl>https://customer-tedu.scm.azurewebsites.net/</PublishUrl>
    <UserName>$customer-tedu</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>