<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/26d7c826-abd1-4892-afe5-321735e52959/resourceGroups/tedu-microservices-rg/providers/Microsoft.Web/sites/saga-orchestrator-tedu</ResourceId>
    <ResourceGroup>tedu-microservices-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://saga-orchestrator-tedu.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>17656f0b-f6bd-4b2f-8424-8a483b26175f</ProjectGuid>
    <PublishUrl>https://saga-orchestrator-tedu.scm.azurewebsites.net/</PublishUrl>
    <UserName>$saga-orchestrator-tedu</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>